@inject UserManager<IdentityUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(this.User);
    var isAuthenthicated = this.User?.Identity?.IsAuthenticated;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelTogether</title>

    <script src="~/js/jquery/jquery-3.3.1.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/fontawesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />

    @RenderSection("Links", required: false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img src="~/images/flight.png" />
        <a class="navbar-brand ml-2" href="/Home/Index"><h2 class="ui grey inverted header">TravelTogether</h2></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">Home</a>
                </li>
            </ul>
            @if (isAuthenthicated.HasValue && !isAuthenthicated.Value)
            {
                <div class="nav-item">
                    <form method="post" asp-action="Login" asp-controller="Account" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-2" type="text" name="Username" placeholder="Username"
                               aria-label="Username">
                        <input class="form-control mr-2 mt-2 mt-lg-0 mt-md-0 mt-sm-0" type="password" placeholder="Password" name="Password" aria-label="Password">
                        <button class="btn my-2 my-sm-0" type="submit">
                            <span class="ui grey header">Login</span>
                        </button>
                    </form>
                </div>
                <div class="nav-item">
                    <form method="get" action="/Account/Register">
                        <button class="btn my-sm-0 ml-lg-2" type="submit">
                            <span class="ui grey header">Register</span>
                        </button>
                    </form>
                </div>
            }
            else
            {
                <div class="nav-item">
                    <a href="/Trips/All">
                        <i class="fas fa-plane my_plane"></i>
                    </a>
                </div>
                <div class="nav-item">
                    <img class="ui mini rounded image my_layout_profile_picture" src="~/images/default_icon.jpg">
                </div>
                <div class="nav-item ml-lg-2">
                    <a href="/Account/MyProfile?id=@currentUser.Id">
                        <h4 class="ui grey inverted header">@currentUser.UserName</h4>
                    </a>
                </div>
                <div class="nav-item ml-lg-2">
                    <div class="my_dropdown">
                        <div onclick="openDropdownMenu()" class="my_dropdownbutton bg-dark">
                            <i class="angle down icon"></i>
                        </div>
                        <div id="myDropdown" class="my_dropdown_content">
                            <a href="/Account/MyProfile?id=@currentUser.Id" class="font-weight-bold">
                                My Profile
                                <i class="fas fa-user"></i>
                            </a>
                            <a href="#" class="font-weight-bold">My Trips <i class="briefcase icon"></i></a>
                            <a href="#" class="font-weight-bold">Friends <i class="fas fa-users"></i></a>
                            <a href="#" class="font-weight-bold">Mesages <i class="fas fa-envelope"></i></a>
                            <hr />
                            <a href="/Account/Logout" class="font-weight-bold">
                                Logout
                                <i class="sign-out icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <footer class="bg-dark">
        <h3 class="text-center text-muted pt-3">&copy; 2018 - TravelTogether</h3>
    </footer>

    @RenderSection("Scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>
