@model List<TravelTogether.ViewModels.Trips.MyTripsViewModel>

@inject UserManager<TtUser> UserManager

@{
    ViewData["Title"] = "MyTrips";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = await UserManager.GetUserAsync(this.User);
    var ttUser = (TtUser)currentUser;
    bool? isAuthenthicated = false;
    if (currentUser != null)
    {
        isAuthenthicated = this.User?.Identity?.IsAuthenticated;
    }
}

@section Links{
    <link rel="stylesheet" type="text/css" href="~/css/myTrips.css" />
}

<table class="table table-hover table-dark mt-5">
    <thead>
        <tr>
            <th scope="col">Creator</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">Members</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trip in Model)
        {
            <tr>
                <th scope="row">
                    @if (trip.Creator.ProfileImageId == null)
                    {
                        <img class="ui mini image my_creator_img" src="@trip.Creator.DefaultImageSrc" />
                    }
                    else
                    {
                        <img class="ui mini image my_creator_img" src="@trip.Creator.ProfileImageSrc" />
                    }
                    <span class="ml-1">(@trip.Creator.FirstName @trip.Creator.LastName)</span>
                </th>
                <td>@trip.Country</td>
                <td>@trip.City</td>
                <td>
                    <a href="#" data-toggle="modal" data-target="#trip_Modal{@trip.Id}" class="ui button">
                        Members
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*TripsModal*@
@foreach (var trip in Model)
{
    <div class="modal fade" id="trip_Modal{@trip.Id}">
        <div class="modal-dialog">
            <div class="modal-content my_modal">
                <div class="modal-body">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <div class="ui middle aligned divided list mt-4">
                        @foreach (var tripUser in trip.SignedUsers)
                        {
                            <div class="item">
                                <div class="right floated content">
                                    @if (tripUser.TtUserId != currentUser.Id)
                                    {
                                        <div class="ui button">Contact</div>
                                    }
                                </div>
                                @if (tripUser.TtUser.ProfileImageId == null)
                                {
                                    <img class="ui avatar image" src="@tripUser.TtUser.DefaultImageSrc">
                                }
                                else
                                {
                                    <img class="ui avatar image" src="@tripUser.TtUser.ProfileImageSrc">
                                }
                                <div class="content">
                                    @tripUser.TtUser.FirstName @tripUser.TtUser.LastName
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

