@model IEnumerable<TravelTogether.ViewModels.Posts.AllPostsViewModel>

@inject UserManager<TtUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    var currentUser = await UserManager.GetUserAsync(this.User);
    var ttUser = (TtUser)currentUser;
    bool? isAuthenthicated = false;
    if (currentUser != null)
    {
        isAuthenthicated = this.User?.Identity?.IsAuthenticated;
    }
}

@section Links{
    <link rel="stylesheet" type="text/css" href="~/css/posts.css" />
    <link rel="stylesheet" type="text/css" href="~/css/index.css" />
}

@if (isAuthenthicated.HasValue && isAuthenthicated.Value)
{
    <div class="row">
        <div class="col-md-8 col-md-12 d-flex justify-content-center">
            <form method="get" asp-controller="Home" asp-action="SearchPosts">
                <div class="ui icon input my_search">
                    <input type="text" placeholder="Search..." name="searchText" />               
                    <i class="inverted circular search link icon">
                        <button class="my_search_btn" type="submit"></button>
                    </i>                   
                </div>
            </form>
            <div class="my_addPost_btn ml-4">
                <a href="#" data-toggle="modal" data-target="#createPost_Modal" class="ui button">
                    + Add New Post
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid my_posts_container">
        <div class="row">
            @foreach (var post in Model)
            {
                <div class="col-md-3">
                    <div class="ui teal card my_card">
                        <div class="content">
                            <div class="right floated meta">
                                <span class="ui grey inverted header">
                                    @post.CreatedOn.ToString("dd-MMM-yy")
                                </span>
                            </div>
                            @if (post.TtUser.ProfileImageId == null)
                            {
                                <img class="ui avatar image" src="@post.TtUser.DefaultImageSrc">
                            }
                            else
                            {
                                <img class="ui avatar image" src="@post.TtUser.ProfileImageSrc">
                            }
                            <span class="ui grey inverted header my_username_header">@post.TtUser.UserName</span>
                        </div>
                        <hr style="margin: 0px;" />
                        <span style="margin-left: 15px;">
                            @post.Caption
                        </span>
                        <hr style="margin: 0px;" />
                        <div class="image">
                            <img class="my_post_image" src="@post.Image.ImageSource" />
                        </div>
                        <div class="content">
                            <span class="right floated">
                                @if (post.Likes.Any(l => l.TtUserId == currentUser.Id))
                                {
                                    {
                                        var likeId = post.Likes.FirstOrDefault(l => l.PostId == post.Id
                                        && l.TtUserId == currentUser.Id).Id;
                                        <a class="my_dislike_btn"
                                           onclick="dislike(@post.Id, '@currentUser.Id', @likeId)">
                                            <i class="heart outline like icon"></i>
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a class="my_like_btn" onclick="like(@post.Id, '@currentUser.Id')">
                                        <i class="heart outline like icon"></i>
                                    </a>
                                }
                                @if (post.Likes.Count() == 1)
                                {
                                    <span>@post.Likes.Count() like</span>
                                }
                                else
                                {
                                    <span>@post.Likes.Count() likes</span>
                                }
                            </span>
                            <i class="comment icon"></i>
                            <span id="postID-@post.Id">@post.Comments.Count() comments</span>
                            <div class="d-flex justify-content-center mt-2">
                                <a href="#" data-toggle="modal" data-target="#post_Modal{@post.Id}">
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </a>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui large transparent left icon input">
                                <i class="heart outline icon"></i>
                                <input id="commentData-@post.Id" class="postInput" type="text"
                                       placeholder="Add Comment..." name="commentData" data-commentData />
                                <a class="my_sendComment_btn ml-4"
                                   onclick="sendComment(@post.Id, '@currentUser.Id')">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                @*PostModal*@
                <div class="modal fade" id="post_Modal{@post.Id}">
                    <div class="modal-dialog">
                        <div class="modal-content my_modal">
                            <div class="modal-body">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <div class="ui card my_card_modal">
                                    <div class="content">
                                        <div class="right floated meta">
                                            <span class="ui grey inverted header">
                                                @post.CreatedOn.ToString("dd-MMM-yy")
                                            </span>
                                        </div>
                                        @if (post.TtUser.ProfileImageId == null)
                                        {
                                            <img class="ui avatar image my_modal_avatar_image" src="@post.TtUser.DefaultImageSrc" />
                                        }
                                        else
                                        {
                                            <img class="ui avatar image my_modal_avatar_image" src="@post.TtUser.ProfileImageSrc" />
                                        }
                                        <span class="ui grey inverted header my_username_header_modal">
                                            @post.TtUser.UserName
                                        </span>
                                    </div>
                                    <hr style="margin: 0px;" />
                                    <span style="margin-left: 15px;">
                                        @post.Caption
                                    </span>
                                    <hr style="margin: 0px;" />
                                    <div class="image">
                                        <img src="@post.Image.ImageSource" />
                                    </div>
                                    <div class="content">
                                        <span class="right floated">
                                            @if (post.Likes.Any(l => l.TtUserId == currentUser.Id))
                                            {
                                                {
                                                    var likeId = post.Likes
                                                        .FirstOrDefault(l => l.PostId == post.Id
                                                        && l.TtUserId == currentUser.Id).Id;
                                                    <a class="my_dislike_btn"
                                                       onclick="dislike(@post.Id, '@currentUser.Id', @likeId)">
                                                        <i class="heart outline like icon"></i>
                                                    </a>
                                                }
                                            }
                                            else
                                            {
                                                <a class="my_like_btn"
                                                   onclick="like(@post.Id, '@currentUser.Id')">
                                                    <i class="heart outline like icon"></i>
                                                </a>
                                            }
                                            @if (post.Likes.Count() == 1)
                                            {
                                                <span>@post.Likes.Count() like</span>
                                            }
                                            else
                                            {
                                                <span>@post.Likes.Count() likes</span>
                                            }
                                        </span>
                                        <i class="comment icon"></i>
                                        <span id="postID-@post.Id">@post.Comments.Count() comments</span>
                                    </div>
                                    <div class="extra content">
                                        @foreach (var comment in post.Comments.OrderBy(c => c.Id))
                                        {
                                            <div class="ui comments">
                                                <div class="comment">
                                                    @if (currentUser.Id == comment.SenderId)
                                                    {
                                                        <a href="/Account/MyProfile?id=@comment.SenderId"
                                                           class="avatar">
                                                            @if (comment.Sender.ProfileImageId == null)
                                                            {
                                                                <img class="iP" src="@comment.Sender.DefaultImageSrc" />
                                                            }
                                                            else
                                                            {
                                                                <img class="iP" src="@comment.Sender.ProfileImageSrc" />
                                                            }
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="/Account/Profile?id=@comment.SenderId" class="avatar">
                                                            @if (comment.Sender.ProfileImageId == null)
                                                            {
                                                                <img class="iP" src="@comment.Sender.DefaultImageSrc" />
                                                            }
                                                            else
                                                            {
                                                                <img class="iP" src="@comment.Sender.ProfileImageSrc" />
                                                            }
                                                        </a>
                                                    }
                                                    <div class="content">
                                                        @if (currentUser.Id == comment.SenderId)
                                                        {
                                                            <a href="/Account/MyProfile?id=@comment.SenderId"
                                                               class="author my_author">
                                                                @comment.Sender.FirstName @comment.Sender.LastName
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="/Account/Profile?id=@comment.SenderId"
                                                               class="author my_author">
                                                                @comment.Sender.FirstName @comment.Sender.LastName
                                                            </a>
                                                        }
                                                        <div class="metadata">
                                                            <div class="date">2 days ago</div>
                                                        </div>
                                                        <div class="text">
                                                            @comment.CommentContent
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (isAuthenthicated.HasValue && isAuthenthicated.Value)
                                        {
                                            <div class="form-group my_form-group_modal">
                                                <textarea id="commentData-@post.Id" class="form-control" rows="3"
                                                          placeholder="Add Comment..."></textarea>
                                            </div>
                                            <div class="d-flex justify-content-around">
                                                <a onclick="sendCommentModal(@post.Id, '@currentUser.Id')"
                                                   class="ui black button">
                                                    Add Comment
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @*SideBar*@
    <div class="sidebar bg-dark">
        <div class="ui middle aligned selection list">
            @foreach (var friendShip in ttUser.MainUserFriends)
            {
                <div class="item">
                    @if (friendShip.Friend.ProfileImageId == null)
                    {
                        <img class="ui avatar image" src="@friendShip.Friend.DefaultImageSrc">
                    }
                    else
                    {
                        <img class="ui avatar image" src="@friendShip.Friend.ProfileImageSrc">
                    }
                    <div class="content">
                        <div class="header">@friendShip.Friend.UserName</div>
                    </div>
                    <div class="my_content_friendUser">
                        <div class="my_message_btn" onclick="message('@friendShip.FriendId')">
                            <i class="envelope outline icon ml-3"></i>
                        </div>
                        <div class="popup" id="@friendShip.FriendId">
                            <form asp-controller="Messages" asp-action="Send">
                                <div class="content">
                                    <textarea name="content" placeholder="Your message"></textarea>
                                </div>
                                <input type="hidden" value="@currentUser.Id" name="senderId" />
                                <input type="hidden" value="@friendShip.FriendId" name="receiverId" />
                                <div class="d-flex justify-content-between">
                                    <button type="submit" class="ui black button">
                                        Send
                                    </button>
                                    <div class="ui black button my_X_btn">
                                        <i class="fas fa-times"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div onclick="viewProfile('@friendShip.FriendId')">
                            <i class="clone outline icon ml-3"></i>
                        </div>
                        <div onclick="removeFriend('@friendShip.FriendId', '@friendShip.TtUserId')">
                            <i class="trash alternate outline icon ml-3"></i>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    @*LoggedOutUser*@
    <div class="container-fluid">
        <div class="row">
            @foreach (var post in Model)
            {
                <div class="col-md-3">
                    <div class="ui teal card my_card">
                        <div class="content">
                            <div class="right floated meta">
                                <span class="ui grey inverted header">
                                    @post.CreatedOn.ToString("dd-MMM-yy")
                                </span>
                            </div>
                            @if (post.TtUser.ProfileImageId == null)
                            {
                                <img class="ui avatar image" src="@post.TtUser.DefaultImageSrc">
                            }
                            else
                            {
                                <img class="ui avatar image" src="@post.TtUser.ProfileImageSrc">
                            }
                            <span class="ui grey inverted header my_username_header">@post.TtUser.UserName</span>
                        </div>
                        <hr style="margin: 0px;" />
                        <span style="margin-left: 15px;">
                            @post.Caption
                        </span>
                        <hr style="margin: 0px;" />
                        <div class="image">
                            <img class="my_post_image" src="@post.Image.ImageSource" />
                        </div>
                        <div class="content">
                            <span class="right floated">
                                @if (post.Likes.Count() == 1)
                                {
                                    <span>@post.Likes.Count() like</span>
                                }
                                else
                                {
                                    <span>@post.Likes.Count() likes</span>
                                }
                            </span>
                            <i class="comment icon"></i>
                            <span id="postID-@post.Id">@post.Comments.Count() comments</span>
                            <div class="d-flex justify-content-center mt-2">
                                <a href="#" data-toggle="modal" data-target="#post_Modal{@post.Id}">
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                @*PostModalLoggedOut*@
                <div class="modal fade" id="post_Modal{@post.Id}">
                    <div class="modal-dialog">
                        <div class="modal-content my_modal">
                            <div class="modal-body">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <div class="ui card my_card_modal">
                                    <div class="content">
                                        <div class="right floated meta">
                                            <span class="ui grey inverted header">
                                                @post.CreatedOn.ToString("dd-MMM-yy")
                                            </span>
                                        </div>
                                        @if (post.TtUser.ProfileImageId == null)
                                        {
                                            <img class="ui avatar image my_modal_avatar_image" src="@post.TtUser.DefaultImageSrc" />
                                        }
                                        else
                                        {
                                            <img class="ui avatar image my_modal_avatar_image" src="@post.TtUser.ProfileImageSrc" />
                                        }
                                        <span class="ui grey inverted header my_username_header_modal">
                                            @post.TtUser.UserName
                                        </span>
                                    </div>
                                    <hr style="margin: 0px;" />
                                    <span style="margin-left: 15px;">
                                        @post.Caption
                                    </span>
                                    <hr style="margin: 0px;" />
                                    <div class="image">
                                        <img src="@post.Image.ImageSource" />
                                    </div>
                                    <div class="content">
                                        <span class="right floated">
                                            @if (post.Likes.Count() == 1)
                                            {
                                                <span>@post.Likes.Count() like</span>
                                            }
                                            else
                                            {
                                                <span>@post.Likes.Count() likes</span>
                                            }
                                        </span>
                                        <i class="comment icon"></i>
                                        <span id="postID-@post.Id">@post.Comments.Count() comments</span>
                                    </div>
                                    <div class="extra content">
                                        @foreach (var comment in post.Comments)
                                        {
                                            <div class="ui comments">
                                                <div class="comment">
                                                    <a class="avatar">
                                                        @if (comment.Sender.ProfileImageId == null)
                                                        {
                                                            <img class="iP" src="@comment.Sender.DefaultImageSrc" />
                                                        }
                                                        else
                                                        {
                                                            <img class="iP" src="@comment.Sender.ProfileImageSrc" />
                                                        }
                                                    </a>
                                                    <div class="content">
                                                        <a class="author my_author">
                                                            @comment.Sender.FirstName @comment.Sender.LastName
                                                        </a>
                                                        <div class="metadata">
                                                            <div class="date">2 days ago</div>
                                                        </div>
                                                        <div class="text">
                                                            @comment.CommentContent
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-center">
            <div class="ui right floated pagination menu my_pagination_menu">
                <a class="icon item my_item_pagination">
                    <i class="left chevron icon"></i>
                </a>
                <a href="/Home/Index?page=1" class="item my_item_pagination">1</a>
                <a href="/Home/Index?page=2" class="item my_item_pagination">2</a>
                <a href="/Home/Index?page=3" class="item my_item_pagination">3</a>
                <a href="/Home/Index?page=4" class="item my_item_pagination">4</a>
                <a class="icon item my_item_pagination">
                    <i class="right chevron icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

@*CreatePostModal*@
<div class="modal fade" id="createPost_Modal">
    <div class="modal-dialog">
        <div class="modal-content my_modal">
            <div class="modal-body">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <form id="my_addpost_modal_form" asp-controller="Posts" asp-action="Add" method="post" enctype="multipart/form-data">
                    <div class="my_addPost_container">
                        <h1 style="text-align: center;">Add Post</h1>
                        <hr class="my_hr_addPostModal" />

                        <label for="caption"><b>Caption</b></label>
                        <input id="caption" class="my_input_AddPostModal" type="text" placeholder="Caption.." name="caption" required />

                        <label for="imageBrowes"><b>Image</b></label>
                        <input type="file" name="Image" id="imageBrowes" class="ui inverted grey button my_input_AddPostModal" required />

                        <hr class="my_hr_addPostModal" />

                        <div id="imgPreview" class="thumbnail" style="display:none">
                            <img class="img-responsive" id="targetImg" />
                            <div class="caption">
                                <a class="my_trash_addPostModal" href="#" onclick="ClearPreview()">
                                    <i class="trash icon"></i>
                                </a>
                                <span id="description"></span>
                            </div>
                        </div>
                        @if (currentUser != null)
                        {
                            <input type="hidden" value="@currentUser.Id" name="userId" />
                        }
                        <div class="d-flex justify-content-around">
                            <button type="submit" id="btnUpload" class="ui black button my_addPostModal_btn mt-4">
                                Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/index.js"></script>
}
